
EMAIL_ACCOUNT=
EMAIL_PASSWORD=
IMAP_SERVER=

CH_HOST=
CH_PORT=
CH_USER=
CH_PASSWORD=
CH_DATABASE=
TABLE_NAME_ADFOX=


TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

ADFOX_LOGIN=
ADFOX_PASSWORD=


ADFOX_TOKEN=
ADFOX_REPORT_FOR_296740=
ADFOX_REPORT_FOR_296675=
ADFOX_REPORT_FOR_317352=
ADFOX_LEVEL=
ADFOX_CUSTOM_REPORT_LEVEL=
ADFOX_ACTIVE_CAMPAIGNS_REPORT_NAME=
ADFOX_BASE_URL=
ADFOX_SUPERCAMPAIGN_IDS=
ADFOX_CAMPAIGNS_REPORT_NAME=
ADFOX_CUSTOM_REPORT_NAME=
ADFOX_PRECISION=
REPORT_TIMEZONE=
REPORT_DATE=
OUTPUT_DIR=
SAVE_RAW_JSON=
ADFOX_SUPERCAMPAIGN_ID=

TV_STREAM_CAMPAIGN_NAME=

